@charset "utf-8";
body{
	margin:0;
	padding:0;
}
img{
	position: absolute;
}
.mouth{
	top:340px;
	left:350px;
}
.name2{
	top:300px;
	left:15.51px;
}
.hi{
	opacity: 0;
	transition:opacity 0.5s;
}
.hi:hover{
	opacity:1;